:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.wrapper {
    margin: 15% auto;
    max-width: 600px;
    text-align: center;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto 12% auto;
    width: 17%;
}

.coming_soon {
    color: var(--gray);
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 5%;
}

.coming_soon span {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.subscribe {
    color: var(--very-dark-blue);
    font-size: 1.4rem;
    margin-bottom: 10%;
}

.subscribe_form {
    padding: 0 5.5%;
}

.form_group {
    margin-bottom: 3%;
}

.form_group.error {
    margin-bottom: 7%;
}

.subscribe_form label {
    display: none;
}

#email {
    border: 1px solid var(--blue);
    border-radius: 50px;
    color: var(--very-dark-blue);
    font-family: inherit;
    font-size: 1.4rem;
    padding: 4% 9.8%;
    width: 100%;
}

.form_group.error #email {
    border: 1px solid var(--light-red);
}

#email::placeholder {
    color: var(--blue);
}

.message {
    color: var(--light-red);
    display: none;
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 1.8%;
}

.form_group.error .message {
    display: block;
}

.subscribe_btn {
    background-color: var(--blue);
    box-shadow: 0 5px 10px hsla(223, 87%, 63%, .4);
    border: none;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
    margin-bottom: 11%;
    opacity: 1;
    padding: 4% 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
}

.subscribe_btn:hover {
    opacity: .8;
}

.dashboard {
    display: block;
    margin-bottom: 44%;
    width: 100%;
}

.socials {
    margin-bottom: 9%;
    text-align: center;
}

.facebook, .twitter, .instagram {
    align-items: center;
    box-shadow: 0 0 1px var(--gray);
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.facebook:hover, .twitter:hover, .instagram:hover {
    background-color: var(--blue);
}

.twitter {
    margin: 0 4%;
}

ion-icon[name="logo-facebook"],
ion-icon[name="logo-twitter"],
ion-icon[name="logo-instagram"] {
    color: var(--blue);
}

.facebook:hover ion-icon[name="logo-facebook"],
.twitter:hover ion-icon[name="logo-twitter"],
.instagram:hover ion-icon[name="logo-instagram"] {
    color: hsl(0, 0%, 100%);
}

.copyright {
    color: var(--gray);
    font-size: 1.2rem;
}

footer {
    position: sticky;
    top: 100vh;
}

.attribution {
    color: var(--very-dark-blue);
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: var(--very-dark-blue);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.attribution a:hover {
    color: var(--light-red);
}

@media screen and (min-width: 600px) {
    .logo {
        margin-bottom: 7%;
        width: 14%;
    }

    .coming_soon {
        font-size: 4.2rem;
        margin-bottom: 2.5%;
    }

    .subscribe {
        font-size: 1.9rem;
    }

    .subscribe_form {
        margin-bottom: 12%;
        padding: 0;
        position: relative;
        text-align: left;
    }

    .form_group {
        margin: 0;
    }

    #email {
        padding: 3% 9.8%;
        width: 68%;
    }

    .message {
        padding-left: 10%;
    }

    .subscribe_btn {
        align-items: center;
        display: flex;
        height: 54px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 0 0 2.5%;
        width: 29.5%;
    }

    .dashboard {
        margin-bottom: 11%;
    }

    .socials {
        margin-bottom: 4%;
    }
}